extends layout.pug
block breadcrumb
  li
    a(href='/') index
  li
    a(href='/entities') entities
  li.is-active
    a.has-text-white(href='#') create
block content
  section.section
    .container
      h1.title= title
      form(method='post')
        div.field
          label.label(for='name') Name
          .control
            input#name.input(type='text', name='name', required)
        div.field
          .control
            button.button.is-link(type='submit') Submit
