extends layout.pug
block breadcrumb
  li
    a(href='/') index
  li.is-active
    a.has-text-white(href='#') entities
block content
  section.section
    .container
      h1.title Entities
      table.table
        thead
          tr
            th Id
            th Name
            th Created on
        tbody
          each entity in entities
            tr
              td
                a(href=`/entities/${entity.id}`)= entity.id
              td= entity.name
              td= entity.createdOn
