doctype html
html(lang='en-us')
  head
    meta(charset='utf-8')
    meta(name='viewport', contents='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.css')
    title home - antbear.xyz
  body
    section.hero.is-primary.is-bold
      .hero-head
        nav.navbar
          .container
            .navbar-menu
              .navbar-end
                .tabs.is-right
                  ul
                    li.is-active
                      a(href='#') home
                    li
                      a(href='#') about
                    li
                      a(href='#') contact

      .hero-body
        .container
          h1.title antbear.xyz
          h2.subtitle home
    section.section
      .container
        h1.title home page
    footer.footer
      .content.has-text-centered
        p &copy; 2019 Ryan Wildes