doctype html
html(lang='en-us')
  head
    meta(charset='utf-8')
    meta(name='viewport', contents='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.css')
    link(rel='icon', type='image/png', href='/static/favicon-96x96.png')
    title #{title} / antbear.xyz
  body
    section.hero.is-primary.is-bold
      .hero-head
        .container
          nav.breadcrumb
            ul
              block breadcrumb
      .hero-body
        .container
          h1.title antbear.xyz
          h2.subtitle #{title}
    block content
    footer.footer
      .content.has-text-centered
        p &copy; 2019 Ryan Wildes. View source at 
          a(href='https://github.com/apecranium/galaxy-express') GitHub.
