extends layout.pug
block breadcrumb
  li
    a(href='/') Index
  li
    a(href='/users') Users
  li.is-active
    a(href='#')= user.id
block content
  section.section
    .container
      h1.title User
      table.table.is-bordered
        tbody
          tr
            td
              strong Id
            td= user.id
          tr
            td
              strong Name
            td= user.name
          tr
            td
              strong Email
            td= user.credentials.email
