extends layout.pug
block breadcrumb
  li
    a(href='/') index
  li
    a(href='/users') users
  li.is-active
    a.has-text-white(href='#')= user.id
block content
  section.section
    .container
      .columns
        .column.is-12
          h1.title User
          table.table.is-striped
            tbody
              tr
                td
                  strong Id
                td= user.id
              tr
                td
                  strong Name
                td= user.name
              tr
                td
                  strong Email
                td= user.credentials.email
