extends layout.pug
block breadcrumb
  li
    a(href='/') index
  li.is-active
    a.has-text-white(href='#') users
block content
  section.section
    .container
      h1.title Users
      .table-container
        table.table
          thead
            tr
              th Id
              th Name
              th Email
          tbody
            each user in users
              tr
                td
                  a(href=`/users/${user.id}`)= user.id
                td= user.name
                td= user.credentials.email
